.produto-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 20px;
}

.produto-item {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
}

.produto-item img {
  border-radius: 10px 10px 0 0;
}

.produto-detail {
  margin: 10px;
}

.produto-detail .preco {
  font-weight: bold;
}

.modal-details {
  display: flex;
}

.modal-detail-item {
  margin: 20px;
}

.modal-details img {
  width: 300px; /* Defina a largura desejada para todas as imagens */
  height: 300px; /* Defina a altura desejada para todas as imagens */
  object-fit: cover; /* Redimensiona a imagem mantendo sua proporção e preenchendo o contêiner */
  border-radius: 10px; /* Arredonde as bordas da imagem, se necessário */
}
.modal-content {
  width: 100vh;
}

.p-detail {
  font-weight: lighter;
}

.form-info {
  display: flex;
  flex-direction: column;
}

.form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-organizar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-organizar label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-desc input {
  width: 100vh;
  height: 100px;
  resize: none; /* Impede que o usuário redimensione o campo de entrada */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura do campo */
  box-sizing: border-box; /* Mantém a altura definida, incluindo o padding e a borda */
}

input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: #9c9ea3 1px solid;
}

input:focus {
  outline-color: #008dda;
  border-color: #008dda;
}

.produto-img {
  width: 100%; /* Defina a largura para preencher o espaço disponível */
  height: 300px; /* Defina uma altura fixa para todas as imagens */
  object-fit: cover; /* Redimensiona a imagem mantendo sua proporção e preenchendo o contêiner */
  border-radius: 10px 10px 0 0; /* Mantenha o mesmo arredondamento de borda */
}

.custom-hr {
  margin: 10px; /* Ajuste a margem conforme necessário */
  border: none; /* Remova a borda padrão */
  border-top: 1px solid #ccc; /* Adicione uma borda superior */
}

.btn-salvar {
  display: flex;
  flex-direction: column-reverse;
}

.upload-button {
  width: 250px;
  height: 40px;
  background-color: #008dda;
  color: white;
  border-radius: 10px;
}

.form-img-center {
  border: 3px #9c9ea3 dashed;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-img-center span {
  color: #9c9ea3;
  margin-top: 10px;
  margin-bottom: 30px;
}

span {
  margin-top: 5px;
  color: red;
}
