.header-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #787879;
}

.span-header {
  color: #787879;
  font-weight: normal;
}

img {
  margin-right: 5px;
}

.active-link .span-header {
  color: #008dda;
  font-weight: bold;
}
