.dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 1rem; /* Espaçamento inferior */
}

.dropdown select {
  width: 100%;
  padding: 0.5rem; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda */
  border-radius: 4px; /* Borda arredondada */
  appearance: none; /* Remove a aparência padrão do sistema */
  background-color: white; /* Cor de fundo */
  cursor: pointer; /* Cursor de ponteiro */
}

/* Estilização quando o dropdown está aberto */
.dropdown select:focus {
  outline: none; /* Remove o contorno de foco */
  border-color: #007bff; /* Cor da borda quando focado */
}

/* Estilização das opções */
.dropdown select option {
  padding: 0.5rem; /* Espaçamento interno */
}

/* Estilização do ícone do dropdown */
.dropdown::after {
  content: "\25BC"; /* Símbolo de seta para baixo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Evita que o ícone do dropdown seja clicável */
  color: #888; /* Cor do ícone */
}

.produto-list-pedido {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.produto-item-pedido {
  display: flex;
  align-items: center;
  border: 1px #9c9ea3 solid;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 30px 10px 0;
  flex-direction: row;
  flex-grow: 1; /* Faz o item de produto ocupar todo o espaço disponível */
}

.produto-item-pedido img {
  width: 50px; /* Largura da imagem */
  height: 50px; /* Altura da imagem */
  margin-right: 10px; /* Espaçamento à direita da imagem */
}

.produto-item-pedido span {
  color: black;
  font-weight: bold;
}

.pedidos-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px;
  width: 80%;
}

.btn-valor {
  background-color: #adcff3;
  width: 25px;
  height: 25px;
  border: none; /* Remova a borda do botão */
  border-radius: 50%; /* Faça a borda completamente redonda */
  color: #007bff; /*/* Alinhe verticalmente o texto ao centro */
  cursor: pointer; /* Transforme o cursor em um ponteiro ao passar sobre o botão */
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
}

.btn-valor:hover {
  border: 2px #007bff solid;
}

.pedido-item {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.pedido-item img {
  height: 80px;
  width: 80px;
  border-radius: 30px;
  padding: 20px;
}

.pedido-right {
  margin-left: auto;
  margin-right: 30px;
}

.pedido-left span {
  color: #9c9ea3;
}

.pedido-right span {
  color: black;
  font-weight: bold;
}

.info-form {
  display: flex;
}

.info-form p {
  margin-right: auto;
}

.custom-hr {
  padding: 5px;
  border: none;
  border-top: 1px solid #ccc;
}

.form-total {
  color: rgb(33, 155, 33);
  font-weight: bold;
  font-size: 20px;
}

.form-total span {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.btn-salvar {
  width: 120px;
  height: 40px;
  background-color: #008dda;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  display: inline-flex; /* Torna o botão um elemento de flexbox */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  margin-top: 15px;
}
