/*header {
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .header-center {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: #787879;
  }
*/

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.div-input {
  position: relative;
  width: 100%;
}

.search-input {
  width: calc(
    100% - 40px
  ); /* Ajuste a largura do input para acomodar o botão */
  height: 40px;
  border-radius: 10px;
  border: #9c9ea3 1px solid;
  padding-left: 20px;
}

input:focus {
  outline-color: #008dda;
  border-color: #008dda;
}

.btn-search {
  width: 150px;
  height: 40px;
  background-color: #008dda;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.clients-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px;
}

.client-item {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.client-item img {
  height: 80px;
  width: 80px;
  border-radius: 30px;
  padding: 20px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta semi-transparente */
  position: fixed; /* Mude para posição fixa */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* Certifique-se de que a sobreposição esteja na frente de todo o conteúdo */
}

.modal-content {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza completamente */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.form-modal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.items-modal {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.items-modal label {
  margin-bottom: 10px;
}

.items-modal input {
  border: #9c9ea3 1px solid;
  border-radius: 10px;
  width: 300px;
  height: 40px;
}

.btn-salvar {
  display: flex;
  flex-direction: column-reverse;
}

.btn-modal {
  cursor: pointer;
}

.btn-modal:hover {
  background-color: white;
  border: 2px #008dda solid;
  color: #008dda;
}

.client-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 300px;
}

.client-info p {
  color: black;
  font-weight: bold;
}

.client-info span {
  color: #9c9ea3;
}

.custom-hr {
  margin: 10px;
  border: none;
  border-top: 1px solid #ccc;
}

.image-button {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 20px; /* Largura do botão */
  height: 20px; /* Altura do botão */
  background-image: url("../../assets/search-img.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 1; /* Garante que o botão esteja na frente do input */
  background-color: transparent;
}
